<h1>List of all the data</h1>

<p>
  <%=link_to "Create New post",new_article_path%>

<table>
  <tr>
    <th> Title </th>
    <th> Description </th>
  </tr>

<% @articles.each do |f|%>
<tr>
     <td> <%= f.title%></td>
     <td><%= f.description%></td>
  <td><%= link_to "edit ",edit_article_path(f) %>|</td>
  <td> <%= link_to "show" ,article_path(f) %>|</td>
  <td><%=link_to "delete",article_path(f), method: :delete , data: {confirm: "are you sure"}%></td>
</tr>
<%end%>
</table>


